{
	admin off
}

poly.360-techgroup.com {
	encode zstd gzip

	reverse_proxy 127.0.0.1:4520

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "same-origin"
		-Server
	}
}
